<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js" defer></script>
    <title>Document</title>
</head>

<body>
<div class="container">
    <h1>Hola, Bienvenido!</h1>

    <div class="input-group">
        <div class="input-item">
            <label for="email">Ingresa tu Correo</label>
            <input type="email" id="email" placeholder="correo@ejemplo.com">
        </div>
        <div class="input-item">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="••••••••">
        </div>

    </div>

    <button class="login-button">Log in</button>

    <hr>

    <div class="register-link">
        No tienes Cuenta? <a href="/registrarse">Registrate</a>
    </div>
</div>

<div class="auth-buttons">
    <a href="/frontend/public" class="button">Volver</a>
</div>
</body>
</html>