<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar ventas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/consultarVenta.css">
    <script src="/js/consultarVenta.js"></script>
</head>

<body>
<div class="contenedor-header">
    <nav class="navigation">
        <img src="/img/Logo.png" class="icecreamlogo">
        <div class="log-out">
            <button onclick="window.location.href='/'">Cerrar Sesión</button>
        </div>
    </nav>
</div>
<main>
    <div class= "contenedor">
        <H1>Consultar Ventas</H1>

    </div>

    <div class = "contenedorCenter">
        <form class="filtro" >
            <div class="form-group">
                <label for="buscarInput" class="only">Buscar cliente o número de orden</label>
                <input type="text" id="buscarInput" class="Buscar" placeholder="🔍 Buscar cliente o número de orden">
            </div>

            <div class="form-group">
                <label for="fechaInput" class="only">Fecha</label>
                <input type="date" id="fechaInput" class="fecha">
            </div>

            <button type="submit" class="btn-filtrar">Filtrar</button>
            <button onclick="window.location.href='/registrar-ventas'" type="button" class="btn-agregar">Agregar Venta</button>
            <button onclick="window.location.href='/helados'" type="button" class="btn-agregar">Ir a consultar Helados</button>
        </form>

        <section class="table">
            <table class = content-table>
                <thead>
                <tr>
                    <th>Cliente</th>
                    <th>N Orden</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </section>
    </div>
</main>
    <footer>
        <div class="footer-container">
            <div>
                <img src="/img/Logo.png" alt = Logo>
                <div class="texto-footer">
                    <p> 2024 il Gelato Della Nonna. All rights reserved </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>